@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
        font-family: "Barlow Condensed";
        font-weight: 400;
        src: local('barlow-condensed') url("./assets/fonts/BarlowCondensed-Regular.ttf") format('ttf');
    } 
    @font-face {
        font-family: "Bellefair";
        font-weight: 400;
        src: local('bellefair') url("./assets/fonts/Bellefair-Regular.ttf") format('ttf');
    }
} */

div.explore-parent:hover {
    background: hsla(0, 100%, 100%, 0.2);
}

button.explore {
    pointer-events: auto;
}

div.explore-parent {
    pointer-events: none;
}