@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: BarlowCondensed-Regular;
        font-weight: 400;
        src: url("./assets/fonts/BarlowCondensed-Regular.ttf") format('ttf');
    }
}

@layer base {
    @font-face {
        font-family: Bellefair-Regular;
        font-weight: 400;
        src: url("./assets/fonts/Bellefair-Regular.ttf") format('ttf');
    }
}