@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: BarlowCondensed-Regular;
        font-weight: 400;
        src: local('barlow-condensed') url("/assets/fonts/BarlowCondensed-Regular.ttf") format('ttf');
    }
}

@layer base {
    @font-face {
        font-family: Bellefair-Regular;
        font-weight: 400;
        src: local('bellefair-regular') url("/assets/fonts/Bellefair-Regular.ttf") format('ttf');
    }
}

div.explore-parent:hover {
    background: hsla(0, 100%, 100%, 0.2);
}

button.explore {
    pointer-events: auto;
}

div.explore-parent {
    pointer-events: none;
}